.App-header {
  background-color: rgb(153, 227, 227);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  margin: auto;
  width: 80vw;
}

section {
  border-bottom: 1px solid #939393;
  margin: 2vh 0;
  padding: 2vh 0;
}